@model Shop.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Login";
}


<div class="page-sections">
    <form id="login-form" class="clearfix" method="post" asp-controller="Auth" asp-action="Login">
        <div class="form-group">
            <label for="emailInput">Email address</label>
            <input asp-for="Email" class="form-control" id="emailInput" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="passwordInput">Password</label>
            <input type="password" asp-for="Password" class="form-control" id="passwordInput" placeholder="Password">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-check">
            <input asp-for="RememberMe" type="checkbox" class="form-check-input" id="remembermeInput">
            <label class="form-check-label" for="remembermeInput">Remember me</label>
        </div>
        <input asp-for="ReturnUrl" type="hidden" value=@ViewData["ReturnUrl"] class="form-check-input" id="remembermeInput">
        <div class="form-group">
            <div asp-validation-summary="All"></div>
        </div>
        <button type="submit" class="btn ">Login</button>
    </form>
</div>

@await Html.PartialAsync("_ValidationScriptsPartial")