body {
}

:root {
    --main-blue-color: #007bff;
    --nav-background-color: #343a40;
}

a {
    text-decoration: none ;
    color: white ;
}

ul {
    list-style: none;
    padding: 0;
}

a:hover {
    text-decoration: none;
    color: white;
}

.breadcrumb a, #shop-logo, .product-price {
    color: black !important;
}

.clearfix {
    content: "";
    display: block;
    clear: both;
}

section {
    display: flex
}

img {
    width: 40px;
}

.nav-padding {
    padding: .5rem 5rem;
}

.page-sections {
    padding: .5rem 5rem;
    margin-top: 25px;
    min-height: 50vh;
}

.login-button {
    color: black;
}

    .login-button:hover {
        color: black;
    }

#cart-icon {
    text-decoration: none;
    color: white;
}

    #cart-icon:hover {
        text-decoration: none;
        color: white;
    }

nav a {
    text-decoration: none !important;
    color: white !important;
}


#shop-logo {
    text-decoration: none;
    color: black;
}

    #shop-logo:hover {
        text-decoration: none;
        color: black;
    }

.nav-list-items {
    color: white;
    list-style: none;
    padding: 0;
    margin: 0;
}

    .nav-list-items li {
        display: inline;
        color: white;
        list-style: none;
        padding: 0;
        margin: 0;
    }


#nav-product-types li {
    margin-right: 15px;
    letter-spacing: 2px;
}

.homepage-items-head-cont {
    height: fit-content();
    margin: 15px 0;
}

#cart-menu {
    left: -300px;
    color: white;
    min-width: 350px;
    min-height: 80px;
    background: #343a40 !important;
}

    #cart-menu #cart-menu-empty-message {
        text-align: center
    }

.homepage-items-head {
    margin: 0;
    text-align: center;
    font-family: fangsong;
}

.product-cont {
    margin: 15px 0;
}

.product-cont-ul {
    padding: 0;
    flex-direction: row;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

    .product-cont-ul li a {
        text-decoration: none
    }

    .product-cont-ul li {
        width: fit-content();
        margin: 0;
        display: inline;
        margin-right: 35px;
    }

        .product-cont-ul li img {
            width: 220px;
        }

.product-title {
    text-align: center;
    margin: 15px 0;
    color: grey;
    text-transform: capitalize;
}

    .product-title:hover {
        color: black;
        text-decoration: underline
    }

.product-price {
    text-align: center
}

.product-item-cont {
    -webkit-box-shadow: -1px 1px 4px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 4px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 4px -1px rgba(0,0,0,0.75);
    cursor: pointer;
}

    .product-item-cont:hover {
        -webkit-box-shadow: -1px -3px 11px -7px rgba(0,0,0,0.75);
        -moz-box-shadow: -1px -3px 11px -7px rgba(0,0,0,0.75);
        box-shadow: -1px -3px 11px -7px rgba(0,0,0,0.75);
    }

/*//details page*/

#product-details-page-cont {
    display: flex;
    flex-direction: row;
}

.product-detailts-page-contents {
    width: 50%;
    display: inline;
    text-align: center
}

    .product-detailts-page-contents ul {
        padding: 0;
    }

    .product-detailts-page-contents img {
        border: 1px solid grey;
        width: 75%;
        padding: 15px;
    }

.product-detailts-page-contents-details {
    text-align: start !important;
}

.product-details-product-title, .product-details-product-price {
    font-family: fangsong;
}

.product-details-product-price {
    color: var(--main-blue-color);
    font-weight: bold;
    font-size: 22px;
}

.product-details-sections {
    color: grey;
    margin-bottom: 20px;
    display: flex;
}

.product-details-section-first {
    width: 55px;
    margin: 0;
    font-size: 20px;
    display: inline;
}

.product-details-section-second {
    width: fit-content();
    margin-left: 20px;
    display: inline;
}

    .product-details-section-second input[type="radio"] {
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }

.red.product-details-section-second input[type="radio"]:checked {
    background-color: red;
}

.green.product-details-section-second input[type="radio"]:checked {
    background-color: green;
}

.blue.product-details-section-second input[type="radio"]:checked {
    background-color: blue;
}

.black.product-details-section-second input[type="radio"]:checked {
    background-color: black;
}

.white.product-details-section-second input[type="radio"]:checked {
    background-color: white;
}

.product-details-section-second .custom-checkbox {
    width: fit-content();
    display: inline;
    margin-right: 10px;
    padding: 0;
}

    .product-details-section-second .custom-checkbox .custom-control-label {
        margin-right: 10px
    }


.product-details-section-second {
    padding-top: 8px;
}

    .product-details-section-second i {
        margin-right: 15px;
    }

.success-message, .error-message {
    color: green;
    margin: 0 !important;
    padding: 8px !important;
}


/*//cart*/

.cart-product-image {
    width: 40px !important;
}

.table td.no-border {
    border: 0 !important;
}


/*//Login forma*/

#login-form {
    padding: 20px;
    border: 1px solid black;
    width: 400px;
    margin: auto;
}

    #login-form button {
        background: grey;
        float: right;
        color: white;
    }

.field-validation-error {
    color: red;
}

.validation-summary-errors {
    color: red;
}


/*Checkout*/
#checkout-container {
    display: flex;
    flex-direction: row;
    margin-top: 0 !important;
    padding: .5rem 2rem !important;
}

#checkout-cont-left {
    width: 60%;
    border-right: 1px solid grey;
    min-height: 100vh;
}

#checkout-cont-right {
    width: 40%;
}

.checkout-sections {
    margin: 0.8rem;
}

.checkout-sections-border {
    border-bottom: 1px solid grey;
}

#checkout-product-img {
    width: 40px;
    text-align: center;
    position: relative;
    margin: auto;
}

    #checkout-product-img span {
        position: absolute;
        background: #b9bbbd;
        color: white;
        right: 0;
    }


/*Products category page*/
#product-category-page-cont {
    display: flex;
}

#product-category-left {
    width: 20%;
}

    #product-category-left select {
        height: 30px;
        width: 70%;
        border: 1px solid grey;
        margin-top: 15px;
        font-family: sans-serif;
    }

#product-category-right {
    width: 80%;
}

    #product-category-right .product-cont {
        margin-top: 0 !important;
    }

    #product-category-right .product-cont-ul li img {
        width: 150px;
    }

    #product-category-right h2 {
        text-align: center;
    }

#category-page-pagination {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

    #category-page-pagination a {
        color: black !important;
    }

    #category-page-pagination .page-item.active a {
        color: white !important;
    }





/*Footer*/
footer {
    background-color: var(--nav-background-color);
    color: white;
}

#footer-contents {
    display: flex;
}

    #footer-contents ul {
        width: 25%;
        padding: 25px 30px 0 0;
    }

        #footer-contents ul a, #footer-contents ul li {
            font-size: 18px;
            margin-bottom: 5px;
        }

footer #shop-logo {
    color: white !important;
    font-size: 28px;
    border: 1px solid grey;
    padding: 15px;
}

#footer-brand-desc {
    text-align: start !important;
}

#footer-contents h5 {
    cursor: pointer;
    font-weight: bold;
}



#footer-brand-desc i {
    font-size: 25px;
    margin-right: 15px;
    border: 1px solid white;
    padding: 10px;
}

footer .page-sections {
    min-height: 0;
}

.nav-login {
    color: black !important;
}

    .nav-login a {
        color: black !important;
    }


#cart-product-link {
    color: black;
}

    #cart-product-link:hover {
        text-decoration: underline !important;
    }
