@model Shop.Core.Models.Cart
@{
}

<li>
    <a id="cart-icon" asp-controller="Cart" asp-action="Index">
        <span id="cart-item-count" class="badge badge-light">@Model.CartItems.Count</span>
        <i class="fas fa-shopping-cart"></i>
    </a>
</li>
