@model Shop.Core.Models.User
@{
}

@if (Model != null)
{
    <div  class="dropdown show dropleft nav-login d-inline">
        <a onclick="openUserDropDown()" class="btn  dropdown-toggle" role="button" id="userdropdown-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <p class="m-0 d-inline"><span class="font-weight-bold">Hi, </span>@Model.FirstName!</p>
        </a>

        <div id="user-dropdown-main" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <form asp-controller="Auth" asp-action="Logout" method="post">
                <button type="submit" class="dropdown-item" >Logout</button>
            </form>
        </div>
    </div>

}
else
{
    <a class="login-button nav-login" asp-controller="Auth" asp-action="Login">
        <i class="fas fa-sign-in-alt"></i>
        <span>Login</span>
    </a>
}