<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/Css/Style.css" rel="stylesheet">

</head>
<body>
    @RenderBody()
    <div id="checkout-container" class="page-sections">
        <div id="checkout-cont-left">
            @RenderSection("Left")
        </div>
        <div id="checkout-cont-right">
            @RenderSection("Right")
        </div>
    </div>
</body>
</html>
